# these are the packages GitHub uses to build the website

# the most "important" req is sphinx-book-theme=0.0.39. 
# Later versions use pydata themes that complete change TOC behavior
# so reproducing the collapsing behavior and coloring would require 
# updates to the css files, if the new pydata theme even allows collapsing.

jupyter-book
matplotlib
numpy
ghp-import

# MyST Markdown support
myst-parser==0.15.2         # the last release that supports Sphinx<5 :contentReference[oaicite:0]{index=0}
myst-nb==0.13.2             # pins myst-parser~=0.15.2 :contentReference[oaicite:1]{index=1}

# Sphinx and theming
Sphinx>=4.0,<5.0            # lock Sphinx into the 4.x series
sphinx-book-theme==0.0.39

# Core dependencies
docutils>=0.17,<1.0
Jinja2<3.1
ipython==8.12.0


# between Sept 28 22 and Oct 7 22, something else broke... 
# action errors mention this package, and 4.12.0 had worked...
# remain on the importlib-metadata we already know works
importlib-metadata<5
